:root[data-theme="Claro"] {
  --theme: light;
  --text: #000000;
  --background: #dcdbdb;
  --primary: #d5c4c4;
  --secondary: #cf1c1c;
  --accent: #cf1c1c;
  --accent2: #fff;
}
:root[data-theme="Oscuro"] {
  --theme: dark;
  --text: #ffffff;
  --background: rgb(44, 44, 56);
  --primary: rgb(30, 30, 30);
  --secondary: #fff;
  --accent: #cf1c1c;
  --accent2: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100dvh;
  max-width: 100dvw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--background);
  color-scheme: var(--theme);
  color: var(--text);
}

.encabezado {
  display: flex;
  position: absolute;
  top: 0;
  width: 100dvw;
  padding: 0 1rem;
  background-color: var(--primary);
  border-bottom: 0.5rem solid var(--accent);
  place-items: center;
  place-content: center;
  box-shadow: 5px 5px 15px black;
  color: var(--accent);
  font-weight: 500;
}

.encabezado_contenedor {
  display: flex;
  width: 100%;
  max-width: 60rem;
  place-items: center;
  align-content: center;
  justify-content: space-between;
}

.encabezado form {
  padding: 1rem;
  display: flex;
  place-content: center;
  column-gap: 0.5rem;
  place-items: center;
  flex-wrap: wrap;
}

.encabezado form label {
  display: block;
  width: 100%;
  text-align: center;
}

input {
  border-radius: 0.2rem;
  padding: 0.1rem;
}

.encabezado input {
  border: 1px solid transparent;
  color: var(--text);
  font-weight: 600;
  transition: 300ms ease;
}

.encabezado input:hover {
  border: 1px solid var(--accent);
  color: var(--accent);
  background-color: var(--accent2);
  box-shadow: 0px 0px 5px var(--accent);
  transition: 300ms ease;
}

.encabezado ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

.encabezado a {
  text-decoration: none;
  transition: 300ms ease;
}

.encabezado a:hover {
  font-weight: 500;
  color: var(--accent2);
  text-shadow: 0px 0px 5px var(--accent);
  text-decoration: underline;
  transition: 300ms ease;
}

body > h1 {
  transition: 300ms ease;
  color: var(--text);
  place-self: center;
}

a,
sup {
  color: var(--accent);
}

.nav {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-content: center;
  place-items: center;
  border: 0.5rem solid var(--secondary);
  border-radius: 1rem;
  box-shadow: 5px 5px 15px black;
  padding: 1rem;
}
.listaHorizontal {
  flex-direction: row;
  flex-wrap: wrap;
  place-items: normal;
}
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: start;
  place-items: space-evenly;
  border: 0.2rem solid var(--accent);
  border-radius: 1rem;
  box-shadow: 5px 5px 15px black;
  padding: 0.5rem;
  max-height: 26rem;
  flex-shrink: 1;
  overflow: hidden;
}

img {
  width: 8rem;
  object-fit: cover;
  place-self: center;
}

.accent {
  color: var(--accent);
}

.errores {
  color: var(--accent);
  max-width: 20rem;
}

.errores > li {
  margin-left: 2rem;
}
